<div class="d-flex justify-content-between align-items-center">
    <span class="fs-4"><%= article.title %></span>
    <div>
        <small>[<%= link_to "Edit", edit_article_path(article.id) %>]</small>  
        <small>[<%= link_to "Delete", article, data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
        } %>]</small>          
    </div>
</div>
<p><%= article.content %></p>
<br />
<br />
