<div class="row">
    <div class="offset-md-3 col-12 col-md-6">
        <h2>Create article</h2>

        <p></p>

        <p>
            <%= link_to "Back to home", root_path, class: "btn btn-secondary" %>
        </p>    
    </div>
</div>

