<div class="row">
    <div class="offset-md-3 col-12 col-md-6">
        <%= render "article", article: @article %>


        <p>
            <%= link_to "Back to home", root_path, class: "btn btn-secondary" %>
        </p>    
    </div>
</div>

